.main-page-content {
    color: white;
    padding-left: 29%;
    padding-top: 9.85%;
    padding-bottom: 21.5%;
}

.main-page-text {
    font-family: serif;
    font-size: xxx-large;
    text-shadow: 5px -2px 6px black;
}

.main-page-first-text {
    padding-left: 24%;
}

.main-page-second-text {

}

.main-page-third-text {
    padding-left: 19%;
}