.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*My stylings*/

/* Main page */

.main-page-content {
  color: white;
  padding-left: 29%;
  padding-top: 9.85%;
  padding-bottom: 21.5%;
}

.main-page-text {
  font-family: serif;
  font-size: xxx-large;
  text-shadow: 5px -2px 6px black;
}

.main-page-first-text {
  padding-left: 24%;
}

.main-page-second-text {

}

.main-page-third-text {
  padding-left: 19%;
}

/* Buttons */

.dropdown-adjustments {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.buttons-position {
  padding-left: 43.5%;
  padding-bottom: 1.875%;
}

.autoplay-buttons-text {
  color: white;
  font-family: serif;
  font-size: xxx-large;
  text-shadow: 5px -2px 6px black;
}

.autoplay-buttons-position {
  position: relative;
  top: 10px;
}

.button-play {
  width: 100px;
  height: 50px;
  font-size: larger;
  position: relative;
  left: 40px;
}

.button-pause {
  width: 100px;
  height: 50px;
  font-size: larger;
  position: relative;
  left: 55px;
}